<!DOCTYPE html>
<html>
  <head>
    <title>deviceMotion</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="javascripts/jquery.color.utils-0.1.0.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
// ejs でホスト名を取得する
var hostname = '<%= hostname %>';
hostname = (hostname === 'localhost')? 'http://' + hostname + ':3000': 'https://' + hostname;
var socket = io.connect(hostname);
socket.on('color', function(color) {
  var rgb = 'rgb(' + color.R + ',' + color.G + ',' + color.B + ')';
  $('body').css({backgroundColor: $.fmtColor(rgb) });
});
    </script>
  </body>
</html>
